* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 60%;
    margin: auto;

}

.product {
    display: inline-block;
    width: calc(100% / 3);
    padding: 3px;
}

.product img {
    width: 100%;
}

.final-price {
    color: red;
}

.original-price {
    text-decoration: line-through;
}